<div class="row-fluid">
  <div class="span6">
    <div style="text-align: center;">
      <!--// TODO: change video and css style this div-->
      <iframe width="560" height="315" src="//www.youtube.com/embed/r_viEYiCTmk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="span6">
    <div class="well">
      {{partial "user/register_form"}}
    </div>
  </div>
</div>
