<h3>Step two!</h3>

<h4>{{originalSocialNetwork.name}}</h4>

<ul>
  {{#each family in originalSocialNetwork.families}}
    <li>{{family.name}}</li>
  {{/each}}
</ul>

<h4>{{importedSocialNetwork.name}}</h4>

<ul>
  {{#each family in importedSocialNetwork.families}}
    <li>{{family.name}}</li>
  {{/each}}
</ul>
