<div class="pull-right">

  <div class="btn-group">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
      <span>
        <i class="icon-plus-sign"></i>
        Create Social Network
      </span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        {{#linkTo "social_networks.new"}}New Social Network{{/linkTo}}
      </li>
      <li>
        {{#linkTo "social_networks.import"}}Import From File{{/linkTo}}
      </li>
      <li>
        {{#linkTo "social_networks.join"}}Join 2 Social Networks{{/linkTo}}
      </li>
    </ul>
  </div>

</div>
