<div class="pull-right">
  {{#linkTo "social_networks.new" class="btn btn-large"}}
    <i class="icon-plus-sign"></i>
    Add Social Network
  {{/linkTo}}
  {{#linkTo "social_networks.import" class="btn btn-large"}}
    <i class="icon-plus-sign"></i>
    Import From File
  {{/linkTo}}
</div>
