<h1>New Social Network</h1>

<div class="field">
  <strong>Name</strong>
  {{view Ember.TextField valueBinding="name" action="save"}}
</div>

<div class="operations well">
  <button class="btn" {{action "cancel"}}>Cancel</button>
  <button class="btn btn-primary" {{action "save"}}>Create</button>
</div>
