<div class="fluid-row">
  <div class="span12">
    <div id="top-bar" class="well well-small">

      <!--TODO: show this buttons only when the social network show page is rendered-->
      <div class="edition-buttons">
        <div class="states">
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn active" title="Hand Tool"><i class="icon-hand-up"></i></button>
            <button type="button" class="btn" title="Add Actor"><i class="icon-plus-sign"></i></button>
            <button type="button" class="btn" title="Add Relation"><i class="icon-stop"></i></button>
            <button type="button" class="btn" title="Add Roles"><i class="icon-arrow-right"></i></button>
          </div>
        </div>

        <div class="zoom-buttons">
          <div class="btn-group">
            <button type="button" class="btn" title="Zoom In"><i class="icon-zoom-in"></i></button>
            <button type="button" class="btn" title="Reset Zoom"><i class="icon-screenshot"></i></button>
            <button type="button" class="btn" title="Zoom Out"><i class="icon-zoom-out"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
