<div class="container-fluid">
  {{partial "top_bar"}}

  <div class="row-fluid">
    <div class="span12">
      {{partial "messages"}}
      {{outlet}}
    </div>
  </div>
</div>

<div class="loading_modal"></div>
