<div style="position: absolute; right: 0px; top: 0px; width: 90px; height: 90px;">
  <div style="position: absolute; right: 16px; top: 17px; width: 59px; height: 62px; overflow: hidden;">
    <img src="assets/controls.png" style="position: absolute; right: 0px; top: 0px; border: 0px; padding: 0px; margin: 0px;" />
  </div>
</div>

<div id="compass" style="position: absolute; right: 0px; top: 0px; width: 90px; height: 90px;">
  <div class="up" title="Pan up" style="position: absolute; right: 36px; top: 17px; width: 18px; height: 18px; cursor: pointer;"></div>
  <div class="left" title="Pan left" style="position: absolute; right: 16px; top: 37px; width: 18px; height: 18px; cursor: pointer;"></div>
  <div class="right" title="Pan right" style="position: absolute; right: 56px; top: 37px; width: 18px; height: 18px; cursor: pointer;"></div>
  <div class="down" title="Pan down" style="position: absolute; right: 36px; top: 57px; width: 18px; height: 18px; cursor: pointer;"></div>
  <div class="reset" title="Return to the original position" style="position: absolute; right: 36px; top: 37px; width: 18px; height: 18px; cursor: pointer;"></div>
</div>
