<div class="fluid-row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
      <li>{{#linkTo "social_networks"}}Social Networks{{/linkTo}} <span class="divider">/</span></li>
    </ul>
  </div>
</div>

<div class="fluid-row">
  <div class="span4">
    <ul class="nav nav-list well">
      {{#each social_network in controller}}
        <li>
          {{#linkTo "social_network" social_network}}
            {{ social_network.name }}
          {{/linkTo}}
          <a href="#" {{action "edit" social_network}}><i class="icon-edit"></i></a>
          <a href="#" {{action "delete" social_network}}><i class="icon-trash"></i></a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="span8">
    {{outlet}}
  </div>
</div>
