<h1>{{name}}</h1>

<p>
  social network
</p>

<h2>Actors</h2>

{{view App.GraphEditorView actors="actors"}}

<ul>
  {{#each actor in actors}}
  <li>{{ actor.name }}</li>
  {{else}}
  <p>
    it doesn't have any actors
  </p>
  {{/each}}
</ul>