<div class="fluid-row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
      <li>{{#linkTo "social_networks"}}Social Networks{{/linkTo}} <span class="divider">/</span></li>
      <li class="active">{{name}}</li>
    </ul>
  </div>
</div>


<div class="fluid-row">
  <div class="span3">
    {{render "actors" actors}}
  </div>
  <div class="span9">
    <svg id="graph_canvas">
    </svg>
  </div>
</div>

