svg#graph_canvas {
  width: 100%;
  height: 540px;
  border: 1px solid black;

  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
 
  &:not(.active):not(.ctrl) {
    cursor: crosshair;
  }

  .node.figure.selected {
    stroke: blue;
    stroke-width: 2;
  }
   
  path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;

    &.selected { stroke-dasharray: 10,2; }
    &.dragline { pointer-events: none; }
    &.hidden { stroke-width: 0; }
  }
   
  .node.figure {
    cursor: pointer;
  }
   
  text {
    font: 12px sans-serif;
    pointer-events: none;
    fill: "#ffcc99";
  }
  
  line.role.selected {
    stroke-width: 4;
    stroke: blue;
  }
}

#current_node,
#current_role {
  h3 {
    margin-top: 0;
  }

  .operations {
    overflow: hidden;
  }
}

.items_list {
  .item {
    padding: 7px 15px;
    &:hover {
      background-color: lightgray;
    }

    .operations {
      display: inline-block;
      float: right;
      a {
        text-decoration: none;
      }
    }
  }
}

#social_networks {
  .item { margin: 0 -20px; }
}

#current_family {
  .colorPicker-picker { margin-top: 7px; }
}

#top-bar {
  overflow: hidden;
  .edition-buttons {
    float: right;
    div {
      display: inline-block;
    }
    .states {
      margin-right: 50px;
    }
  }
}

#families {
  .family {
    &.selected {
      background-color: blue;

      &:hover {
        background-color: black;
      }
    }
  }
}
