svg#graph_canvas {
  width: 100%;
  height: 600px;
  border: 1px solid black;

  circle.selected {
    fill: purple;
  }
}

.current_object {
  margin-bottom: 30px;

  h3 {
    margin-top: 0;
  }

  .operations {
    overflow: hidden;
  }
}

#social_networks {
  .item_list {
    padding: 7px 15px;
    margin: 0 -20px;
    &:hover {
      background-color: lightgray;
    }

    .edit {
      text-decoration: none;
    }
  }
}
