<form class="form-inline" {{action "login" on="submit"}}>
  {{input valueBinding="email" type="email" placeholder="Email" id="userEmail"}}
  {{input valueBinding="password" type="password" placeholder="Password" id="userPassword"}}
  {{input class="btn" type="submit" value="Login"}}
</form>
